* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    color: #d1d5d8;
    text-decoration: none;
}

body{
    background-color: #242424;
}

.tabela{
    display: grid;
    grid-column: auto;
    grid-template-rows: 68px 68px 68px 68px 68px 68px 68px 40px 68px 68px;
}

.elemento{
    width: 62px;
    height: 62px;
    margin: 2px;
    padding: 0.25rem;
}

.elemento_numero{
    font-size: 13px;
    text-align: right;
    margin-bottom: 12px;
    float: right;
    display: inline-block;
}


.elemento_simbolo{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    float: left;
    display: inline-block;
}

#id{
    grid-area: 1/1/1/1;
}