* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    color: #d1d5d8;
    text-decoration: none;
}

body{
    background-color: #242424;
    padding: 40px;
}

.tabela{
    display: grid;
    grid-column: auto;
    grid-template-rows: 68px 68px 68px 68px 68px 68px 68px 68px 68px 68px;
    grid-template-columns: 68px 68px 68px 68px 68px 68px 68px 68px 68px 68px;
    margin-bottom: 20px;
}

.elemento {
    width: 62px;
    height: 62px;
    margin: 2px 2px;
    padding: 0.25rem;
}

.elemento a {
    width: 100%;
    height: 47px;
}

.elemento_numero{
    font-size: 13px;
    text-align: right;
    margin-bottom: 12px;
    float: right;
}


.elemento_simbolo{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    float: left;
}

.elemento_nome{
    font-size: 8px;
    margin-bottom: 3px;
    clear: both;
}

.elemento_peso{
    line-height: 1;
    font-size: 11px;
}

#H {
    grid-area: 1/1/1/1;
}

#He {
    grid-area: 1/18/1/18;
}

#Li {
    grid-area: 2/1/2/1;
}

#Be {
    grid-area: 2/2/2/2;
}

#B {
    grid-area: 2/13/2/13;
}

#C {
    grid-area: 2/14/2/14;
}

#N {
    grid-area: 2/15/2/15;
}

#O{
    grid-area: 2/16/2/16;
}

#F{
    grid-area: 2/17/2/17;
}

#Ne{
    grid-area: 2/18/2/18;
}

#Na{
    grid-area: 3/1/3/1;
}
#Mg {
    grid-area: 3/2/3/2;
}
#Al{
    grid-area: 3/13/3/13;
}
#Si{
    grid-area: 3/14/3/14;
}
#P{
    grid-area: 3/15/3/15;
}
#S{
    grid-area: 3/16/3/16;
}
#Cl{
    grid-area: 3/17/3/17;
}
#Ar{
    grid-area: 3/18/3/18;
}

#K{
    grid-area: 4/1/4/1;
}
#Ca{
    grid-area: 4/2/4/2;
}

#Sc{
    grid-area: 4/3/4/3;
}
#Ti {
    grid-area: 4/4/4/4;
}
#V{
    grid-area: 4/5/4/5;
}
#Cr {
    grid-area: 4/6/4/6;
}
#Mn{
    grid-area: 4/7/4/7;
}
#Fe {
    grid-area: 4/8/4/8;
}
#Co {
    grid-area: 4/9/4/9;
}
#Ni{
    grid-area: 4/10/4/10;
}
#Cu{
    grid-area: 4/11/4/11;
}
#Zn{
    grid-area: 4/12/4/12;
}
#Ga {
    grid-area: 4/13/4/13;
}
#Ge {
    grid-area: 4/14/4/14;
}
#As {
    grid-area: 4/15/4/15;
}
#Se {
    grid-area: 4/17/4/17;
}
#Br{
    grid-area: 4/16/4/16;
}

#Kr {
    grid-area: 4/18/4/18;
}
#Rb {
    grid-area: 5/1/5/1;
}
#Sr {
    grid-area: 5/2/5/2;
}
#Y {
    grid-area: 5/3/5/3;
}
#Zr {
    grid-area: 5/4/5/4;
}
#Nb {
    grid-area: 5/5/5/5;
}
#Mo {
    grid-area: 5/6/5/6;
}
#Tc {
    grid-area: 5/7/5/7;
}
#Ru {
    grid-area: 5/8/5/8;
}
#Rh {
    grid-area: 5/9/5/9;
}
#Pd {
    grid-area: 5/10/5/10;
}
#Ag {
    grid-area: 5/11/5/11;
}
#Cd {
    grid-area: 5/12/5/12;
}
#In {
    grid-area: 5/13/5/13;
}
#Sn {
    grid-area: 5/14/5/14;
}
#Sb {
    grid-area: 5/15/5/15;
}
#Te {
    grid-area: 5/16/5/16;
}
#I {
    grid-area: 5/17/5/17;
}
#Xe {
    grid-area: 5/18/5/18;
}

#Cs {
    grid-area: 6/1/6/1;
}
#Ba {
    grid-area: 6/2/6/2;
}
#L{
    grid-area: 6/3/6/3;
}
#Hf {
    grid-area: 6/4/6/4;
}
#Ta {
    grid-area: 6/5/6/5;
}
#W {
    grid-area: 6/6/6/6;
}
#Re {
    grid-area: 6/7/6/7;
}
#Os {
    grid-area: 6/8/6/8;
}
#Ir {
    grid-area: 6/9/6/9;
}
#Pt {
    grid-area: 6/10/6/10;
}
#Au {
    grid-area: 6/11/6/11;
}
#Hg {
    grid-area: 6/12/6/12;
}
#Tl {
    grid-area: 6/13/6/13;
}
#Pb {
    grid-area: 6/14/6/14;
}
#Bi {
    grid-area: 6/15/6/15;
}
#Po {
    grid-area: 6/16/6/16;
}
#At {
    grid-area: 6/17/6/17;
}
#Rn {
    grid-area: 6/18/6/18;
}
